image: python:latest

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

# Pip's cache doesn't store the python packages
# https://pip.pypa.io/en/stable/reference/pip_install/#caching
#
# If you want to also cache the installed packages, you have to install
# them in a virtualenv and cache it as well.
cache:
  paths:
    - .cache/pip
    - venv/

before_script:
  - python --version  # For debugging
  - pip install virtualenv
  - virtualenv venv
  - source venv/bin/activate

pages:
  script:
    - pip install sphinx sphinx-rtd-theme sphinx-autodoc-typehints numpydoc
    - pip install -r requirements.txt
    - pip install -e . -vvv
    - cd ducks ; make html
    - mv build/html/ ../public/

  artifacts:
    paths:
    - public
